.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
}
.grid-flex{
    width:100%-80px;
    height: 100%;
    margin-left: 80px;
}
.widget-big {
    position: relative;
    background-color: white;  
    border: solid 1px;
    border-left: 0px;
    border-top: 0px;
    grid-row: span 2;
    grid-column: span 2;
  }
.widget {
    position: relative;
    height: 33.33vh;
    background-color: white;  
    border: solid 1px;
    border-left: 0px;
    border-top: 0px;
}

.widget1 {
    position: relative;
    height: 50vh;
    background-color: white;  
    border: solid 1px;
    border-left: 0px;
    border-top: 0px;
}
.popup {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    height: 270px;
}
.close{
    /*position: relative;*/
    top: 5%;
    left: 85%;
}
.add-widget-button{
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    width:90px;
	height: 90px;
    font-size: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);    
    background-color: transparent;
    opacity: 0.5;
    border:none;
    border-radius: 50px;
    
} 
.view{
    position: relative;
    top: 50%;
    text-align: center;
    font-size: 2.5em;
}
.viewname{
    
    text-align: center;
    font-size: 1.5em;
}
.table {
	position: fixed;
	width: 100%;
	border: 1px solid #dddddd;
	border-collapse: separate;
    /*overflow: scroll;
    white-space: nowrap;
    display: block;*/
}
