.sidebar-container {
  width: 80px;
  height: 100%;
  background-color: rgb(190, 190, 190);
  position: fixed;
  border: none;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.sidebar-button:focus {
  background-color: white;
}

.sidebar-button-logout {
  margin: 0;
  padding: 10px;
  font-size: 15px;
  position: fixed;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 370%;
}

.main-content {
  flex: 1;
}

.translate {
  margin-left: 160px;
}

.main-h {
  background: none;
}

.source-h {
  background: none;
}

.grid-size {
  background: none;
  display: none;
}

.grid-popup {
  background: white;
  width: 300px;
  height: 85px;
  position: fixed;
  margin-left: 80px;
  margin-top: 5px;
  top: 152.5px;
  border: 3px solid;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: none;
  border-color: rgb(190, 190, 190);
  z-index: 10;
  display: none;
  flex-direction: row;
}

.source-active {
  display: none;
}

.source-not-active {
  display: flexbox;
}

.main-active {
  display: none;
}

.main-not-active {
  display: flexbox;
}

.grid-active {
  display: none;
}

.grid-not-active {
  display: flexbox;
}