.table {
	position: absolute;
	width: 80%;
	height: 80%;
	border: 1px solid #dddddd;
	border-collapse: separate;
	overflow-y: scroll;
	overflow-x: scroll;
	padding-bottom: 20px;
}

.table th {
	font-weight: bold;
	padding: 1px;
	background: #efefef;
	vertical-align: middle;
	border: 1px solid #dddddd;
	position: relative;
}

.table td {
	border: 1px solid #dddddd;
	vertical-align: middle;
	position: relative;
}

.table tr:hover td {
	background: #e0c8ed50;
}

.noHover {
	pointer-events: none;
}

.popup-delete {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	width: 500px;
	height: 150px;
	z-index: 99;
}

.text {
	position: fixed;
	top: 5%;
	left: 25%;
	color: black;
	font-size: 1.5em;
	text-align: center;
}

.popup-edit {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 1px solid black;
	border-radius: 8px;
	padding: 20px;
	width: 500px;
	height: 500px;
	z-index: 11;
}

.but-delete {
	position: fixed;
	top: 65%;
	left: 20%;
	width: 100px;
	height: 40px;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.but-update {
	position: fixed;
	top: 85%;
	left: 20%;
	width: 100px;
	height: 40px;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.but-delete-close {
	position: fixed;
	top: 65%;
	left: 60%;
	width: 100px;
	height: 40px;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.but-update-close {
	position: fixed;
	top: 85%;
	left: 60%;
	width: 100px;
	height: 40px;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.view-off {
	display: none;
}

.but-delete:hover {
	background-color: #3e8e41;
}

.but-update:hover {
	background-color: #3e8e41;
}

.but-delete-close:hover {
	background-color: #bbb;
}

.but-update-close:hover {
	background-color: #bbb;
}

.add-button {
	position: absolute;
	left: 345px;
	top: 38px;
	width: 100px;
	height: 30px;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.help {
	position: absolute;
	left: 450px;
	top: 36px;
}

.help-button {
	position: absolute;
	width: auto;
	height: auto;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 25px;
}

.help-button:focus {
	background-color: transparent;
}

.help-popup {
	background-color: #333333;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-transform: none;
	padding: 10px 18px 18px 10px;
	border-radius: 10px;
	width: 250px;
	position: absolute;
	top: 30px;
	left:20px;
	z-index: 1;
	transform: translateX(-50%);
	display: none;
}

.help-button:hover+.help-popup,
.help-button:focus+.help-popup {
	display: block;
}

.delete-button {
	position: relative;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.edit-button {
	position: relative;
	margin-bottom: 5px;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.add-button:hover {
	background-color: #bbb;
}

.add-button:focus {
	background-color: #573b8a;
}

.edit-button:hover {
	background-color: #bbb;
}

.delete-button:hover {
	background-color: #bbb;
}

.s-pass{
	display: none;
}

.s-login{
	display: none;
}

.s-period{
	display: none;
}

.input-setting{
	width: 71%;
	height: 50px;
	background: #ffffff;
	justify-content: center;
	display: flex;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid;
	border-color: black;
	border-radius: 8px;
}

.input-select{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 40%;
	border: 1px solid;
	border-color: black;
	border-radius: 5px;
}